<link rel="stylesheet" href="css/styles.css">	
<% if(game){ %>
    <link rel="stylesheet" href="css/gamePage.css">
    <script src="JSLibrary/ServerComms.js"></script>
<% } %>
<% if(loggedIn){ %>
    <script src="user/user.js"></script>
<% } %>

<meta name="description" content="Free to play games">
<meta name="keywords" content="game, videogames, web games, unblocked, unblocked games">
<meta name = "viewport">

<title><%=title%></title>
<link rel="icon" type="image/x-icon" href="images/WebsiteIcon.png">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MTH47KMST2"></script>
<script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-MTH47KMST2');
</script>
