<form  class = "form" id="search-form">
    <input type="text" id="searchBar" placeholder="Search" />
    <div class="search-results" id="search-results">
    </div>
</form>
<script src = "searchBar/searchBar.js"></script>
<link rel = "stylesheet" href = "searchBar/searchBar.css">