<div class = "header">
    <center>
        <p id = "title">
            <img src = "images/C.png">
            <img src = "images/A.png">
            <img src = "images/S.png">
            <img src = "images/T.png">
            <img src = "images/L.png">
            <img src = "images/E.png">
            <img id = "emptyImg"> 
            <img src = "images/G.png">
            <img src = "images/A.png">
            <img src = "images/M.png">
            <img src = "images/E.png">
            <img src = "images/S.png">
        </p>
    </center>
</div>
<script src = "title/title.js"></script>