<link rel = "stylesheet" href = "css/topnav.css">
<div class="topnav">
    <div class = "left">
        <a href="index.html">Home</a>
        <!-- <a href="categories_.html">Game Categories</a> -->
        <a href="contact_.html">Contact</a>
        <a href="patchNotes_.html">Patch Notes</a>
        <a href="downloads_.html">Downloads</a>
    </div>
</div>