<div class="topnav">
    <a href="/">Home</a>
    <!-- <a href="/categories">Game Categories</a> -->
    <a href="/contact_">Contact</a>
    <a href="/patchNotes_">Patch Notes</a>
    <a href="/downloads_">Downloads</a>
    
    <% if (loggedIn == true) { %>
        <div class = "profilePicture" id = "profilePicture">
            <a href = "/user_"></a>
        </div>
    <%} else { %>
        <a id = "login" style = "float : right"; href="/login_">Login</a>
        <a id = "register" style = "float : right"; href="/register_">Register</a>
    <% } %>
    
</div>