<html>
    <head>
        <%- include('partials/head.ejs') %>

        <link rel="stylesheet" href = "2048/2048.css">

    </head>

    <body>

        <%- include('partials/topnav.ejs') %>

        <div class="containerGame">
            <div class="title">
                <p style="font-size: 30px;">2048</p>
                <p id = "HighScore" style="font-size: 20px;">High Score : 0</p>
                <p id = "Score" style="font-size: 20px;">Score : 0</p>
                <button onclick = "Restart()">Start a new Game</button>
            </div>
    
            <div class="content">
            <center><div class="GameScreen">
                <div class = "section"><p id = "0"></p></div>
                <div class = "section"><p id = "1"></p></div>
                <div class = "section"><p id = "2"></p></div>
                <div class = "section"><p id = "3"></p></div>
                <div class = "section"><p id = "4"></p></div>
                <div class = "section"><p id = "5"></p></div>
                <div class = "section"><p id = "6"></p></div>
                <div class = "section"><p id = "7"></p></div>
                <div class = "section"><p id = "8"></p></div>
                <div class = "section"><p id = "9"></p></div>
                <div class = "section"><p id = "10"></p></div>
                <div class = "section"><p id = "11"></p></div>
                <div class = "section"><p id = "12"></p></div>
                <div class = "section"><p id = "13"></p></div>
                <div class = "section"><p id = "14"></p></div>
                <div class = "section"><p id = "15"></p></div>
                </div> </center>
            </div>

            <%- include('partials/instructions.ejs', {ins : '-Use the arrow keys to move the tiles.<br><br> -When two tiles with the same number touch, they merge into one!'} ) %>

            <% include('partials/ads.ejs') %>

        </div>

        <script src="2048/2048.js"></script>

    </body>
</html>