<html>
    <head>
        <title>16384|Castle Games</title>
		<link rel="icon" type="image/x-icon" href="/images/WebsiteIcon.png">

        <!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-MTH47KMST2"></script>
		<script>
  			window.dataLayer = window.dataLayer || [];
  			function gtag(){dataLayer.push(arguments);}
  			gtag('js', new Date());

  			gtag('config', 'G-MTH47KMST2');
		</script>

        <!--css-->
        <link rel="stylesheet" href="css/styles.css">	
        <link rel="stylesheet" href="css/gamePage.css">	
        <link rel="stylesheet" href = "2048/2048.css">

    </head>

    <body onload="Start()">

        <!--Navigation Bar-->
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/contact">Contact</a>
            <a href="/patchnotes">Patch Notes</a>
        </div>

        <div class="containerGame">
            <div class="title">
                <p>16384</p>
                <p id = "Score" style="font-size: 20px;">Score : 0</p>
                <button onclick = "Restart()">Start a new Game</button>
            </div>
    
            <div class="content">
            <center><div class="GameScreen">
                <div class = "section"><p id = "0"></p></div>
                <div class = "section"><p id = "1"></p></div>
                <div class = "section"><p id = "2"></p></div>
                <div class = "section"><p id = "3"></p></div>
                <div class = "section"><p id = "4"></p></div>
                <div class = "section"><p id = "5"></p></div>
                <div class = "section"><p id = "6"></p></div>
                <div class = "section"><p id = "7"></p></div>
                <div class = "section"><p id = "8"></p></div>
                <div class = "section"><p id = "9"></p></div>
                <div class = "section"><p id = "10"></p></div>
                <div class = "section"><p id = "11"></p></div>
                <div class = "section"><p id = "12"></p></div>
                <div class = "section"><p id = "13"></p></div>
                <div class = "section"><p id = "14"></p></div>
                <div class = "section"><p id = "15"></p></div>
                </div> </center>
            </div>

            <div class="instructions">
                <p> Instructions :  <br><br>
                    -use w a s d or arrow keys to move squares<br><br>
                    -try to add cubes that have the same value together to make bigger tiles
                </p>
            </div>
            
            <div class="ads">

            </div>

        </div>

        <script src="2048/2048.js"></script>

    </body>
</html>