<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/unityGame.ejs') %>

    <%- include('partials/head.ejs') %>
  </head>

  <body>
    <%- include('partials/topnav.ejs') %>

    <div class="containerGame">

      <div class="content">
        <center><div id="unityContainer" style="width: 900px; height: 600px; border: solid black 2px"></div></center>
      </div>

      <%- include('partials/instructions.ejs', {ins : '-Press space or tap on the screen to jump <br><br>-Avoid crashing into things'} ) %>

      <% include('partials/ads.ejs') %>

    </div>

  </body>
</html>
