<html>
    <head>
        <%- include('partials/head.ejs') %>
    </head>
    <body>
        <%- include('partials/topnav.ejs') %>

        <div class="containerGame">
            <div class="title">
                <p><%=title.substring(0,title.indexOf("|"))%></p>
                <center><p id = "HighScore" style="font-size: 20px;">High Score : 0</p></center>
                <center><p style="font-size: 20px;">Click On Screen To Start</p></center>
            <center><p id="Score" style="font-size: 20px;">Score : 0 ----- Level : 0</p></center>
            </div>
    
            <div class="content">
                <center><button style = "visibility: hidden;"id = "StartButton" onclick="Start()">
                    <canvas style = "visibility: visible;border: solid black 10px;"id="GameScreen" width="420px" height="660px"></canvas></button></center>
            </div>

            <%- include('partials/instructions.ejs', {ins : '-Use a d or left right arrow keys to move<br><br>\
            -w and up arrow to change rotation<br><br>\
            -s and down arrow to make piece go down faster<br><br>\
            -press p to pause'} ) %>

            <% include('partials/ads.ejs') %>
        </div>

        <script src="Tetris/tetris.js"></script>
    </body>
    
</html>