<!DOCTYPE html>
<html>
<head>
	<%- include('partials/head.ejs') %>
</head>

<body>

	<%- include('partials/topnav.ejs') %>
    <%- include('partials/title.ejs') %>

    <center><p style="font-size: 50px;">Contact Castle Games</p></center>

    <center><p style = "font-size: 30px;">Please send an email to this address <br> <a href = "mailto: contact@castlegames.net">contact@castlegames.net</a>
        <br>for any questions, comments, or concerns about the site.</p></center>

	
</body>
</html>