<!DOCTYPE html>
<html>
<head>

        <!-- Load external CSS styles -->
        <link rel="stylesheet" href="css/styles.css">	
		<title>Contact|Castle Games</title>
		<link rel="icon" type="image/x-icon" href="images/WebsiteIcon.png">

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-MTH47KMST2"></script>
		<script>
  			window.dataLayer = window.dataLayer || [];
  			function gtag(){dataLayer.push(arguments);}
  			gtag('js', new Date());

  			gtag('config', 'G-MTH47KMST2');
		</script>
</head>

<body style = "background-color : rgb(21, 21, 201);">

	<div class="topnav">
		<a href="/">Home</a>
		<a href="/contact">Contact</a>
		<a href="/patchnotes">Patch Notes</a>
	</div>

    <center><p style="font-size: 50px;">Contact Castle Games</p></center>

    <center><p style = "font-size: 30px;">Please send an email to this address <br> <a href = "mailto: contact@castlegames.net">contact@castlegames.net</a>
        <br>for any questions, comments, or concerns about the site.</p></center>

	
</body>
</html>