<!DOCTYPE html>
<html>
  <head>
    <script src="CubeDash/Build/UnityLoader.js"></script>
    <script>
      var unityInstance = UnityLoader.instantiate("unityContainer", "CubeDash/Build/CubeDash.json");
    </script>

    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <%- include('partials/topnav.ejs') %>

    <div class="containerGame">
      <div class="title">
          <p><%=title.substring(0,title.indexOf("|"))%></p>
      </div>

      <div class="content">
        <center><div id="unityContainer" style="width: 900px; height: 600px; border: solid black 2px;"></div></center>
      </div>

      <div class="instructions">
          <p> Instructions :  <br><br>
            -Press on a,d or left and right arrows to move <br><br>
            -Avoid crashing ino things
          </p>
      </div>
      
      <div class="ads">

      </div>

  </body>
</html>
