<!DOCTYPE html>
<html>
<head>
	<%- include('partials/head.ejs') %>
</head>

<body>

	<%- include('partials/topnav.ejs') %>
    <%- include('partials/title.ejs') %>

    <center><p style="font-size: 50px;">Game Downloads</p></center>

    <center><p style="font-size: 40px;">Jeopardy</p></center>
    <center><a href="https://github.com/MarkC11235/DoItYourselfJeopardy" target = "_blank" font-size: 30px;">Github link for windows</a></center>
	
</body>
</html>