<!DOCTYPE html>
<html>
<head>
	<%- include('partials/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/downloads.css">
</head>

<body>

	<%- include('partials/topnav.ejs') %>
    <%- include('partials/title.ejs') %>

    <center><p style="font-size: 50px;">Game Downloads</p></center>

    <div class = "download">
        <h1>Jeopardy</h1>
        <a href="https://github.com/MarkC11235/DoItYourselfJeopardy" target = "_blank">Github link for windows</a>
    </div>
	
</body>
</html>