<html>
    <head>
        <%- include('partials/head.ejs') %>
    </head>
    <body>
        <%- include('partials/topnav.ejs') %>
        <%- include('partials/title.ejs') %>
        
        <div class="containerGame">
            <div class="title">
                <p>Error</p>
            </div>
    
            <div class="content">
                <p>There was some sort of issue with what you tried to do.<br>
                    Please try again and if the problem persists, please contact me.</p>
                </p>
            </div>

        </div>

        <script src = "blank.js"></script>
    </body>
<html>