<!DOCTYPE html>
<html>
<head>
	<%- include('partials/head.ejs') %>
</head>

<body id = "body" style = "background-color : lightseagreen";>

	<%- include('partials/topnav.ejs') %>

	<div class = "container">
		
		<div class = "header">
		<center><p><img src="images/WebsiteIcon.png"style = "width:7%;height:7%;padding-right:8%";>
			Castle Games
			<img src="images/WebsiteIcon.png" style = "width:7%;height:7%;padding-left:8%";></p></center>
		</div>

		<div class ="sideBar">
			<center><p style="font-weight: bold;font-size: 25px;"> Games A-Z </p></center>
			<!--<center><a href="/lobbyGame-"><p>lobbyBasedGame</p></a></center>-->
			<center><a href="/2048-"><p>2048</p></a></center>
			<center><a href="/Bird-"><p>Bird</p></a></center>
			<center><a href="/CubeDash-"><p>Cube Dash</p></a></center>
			<center><a href="/HangMan-"><p>Hang Man</p></a></center>
			<center><a href="/Minesweeper-"><p>Minesweeper</p></a></center>
			<center><a href="/Memory-"><p>Memory</p></a></center>
			<center><a href="/MeteorShower-"><p>Meteor Shower</p></a></center>
			<center><a href="/MuffinMaker-"><p>Muffin Maker</p></a></center>
			<center><a href="/openBattle-"><p>Open Battle</p></a></center>
			<center><a href="/Pong-"><p>Ping Pong</p></a></center>
			<center><a href="/Rocket-"><p>Rocket</p></a></center>
			<center><a href="/Serpent-"><p>Serpent</p></a></center>
			<center><a href="/SuperJumpMan-"><p>Super Jump Man</p></a></center>
			<center><a href="/TargetPractice-"><p>Target Practice</p></a></center>
			<center><a href="/BlockStack-"><p>Block Stack</p></a></center>
			<center><a href="/TowerBuilder-"><p>Tower Builder</p></a></center>
			<center><a href="/ZombieSurvival-"><p>Zombie Survival</p></a></center>
		</div>

		<div class = "game1">
		<center><p style = "font-size : 30px";>Cube Dash</p></center>
		<center><a href="/CubeDash-"><img src="images/cubeDash.gif"></a><center>
		</div>
		
		<div class = "game1">
		<center><p style = "font-size : 30px";>Super Jump Man</p></center>
		<center><a href="/SuperJumpMan-"><img src="images/superJumpMan.gif"></a><center>
		</div>

		<div class = "game1">
		<center><p style = "font-size : 30px";>Zombie Survival</p></center>
		<center><a href="/ZombieSurvival-"><img src="images/zombie.gif"></a><center>
		</div>

		<div class = "game2">
		<center><p style = "font-size : 30px";>Open Battle</p></center>
		<center><a href="/OpenBattle-"><img src="images/openBattle.gif"></a><center>
		</div>

		<div class = "game2">
		<center><p style = "font-size : 30px";>Block Stack</p></center>
		<center><a href="/BlockStack-"><img src="images/tetris.gif"></a><center>
		</div>

		<div class = "game2">
		<center><p style = "font-size : 30px";>Tower Builder</p></center>
		<center><a href="/TowerBuilder-"><img src="images/tower.gif"></a><center>
		</div>

		<div class = "game3">
		<center><p style = "font-size : 30px";>Meteor Shower</p></center>
		<center><a href="/MeteorShower-"><img src="images/meteorShower.gif"></a><center>
		</div>

		<div class = "game3">
		<center><p style = "font-size : 30px";>Serpent</p></center>
		<center><a href="/Serpent-"><img src="images/snake.gif"></a><center>
		</div>

		<div class = "game3">
		<center><p style = "font-size : 30px";>Ping Pong</p></center>
		<center><a href="/Pong-"><img src="images/pong.gif"></a><center>
		</div>		

		<div class = "game4">
		<center><p style = "font-size : 30px";>2048</p></center>
		<center><a href="/2048-"><img src="images/2048.gif"></a><center>
		</div>

		<div class = "game4">
		<center><p style = "font-size : 30px";>Rocket</p></center>
		<center><a href="/Rocket-"><img src="images/rocket.gif"></a><center>
		</div>

		<div class = "game4">
		<center><p style = "font-size : 30px";>Bird</p></center>
		<center><a href="/Bird-"><img src="images/bird.gif"></a><center>
		</div>

		<div class = "game5">
		<center><p style = "font-size : 30px";>Memory</p></center>
		<center><a href="/Memory-"><img src="images/memory.gif"></a><center>
		</div>

		<div class = "game5">
		<center><p style = "font-size : 30px";>Hang Man</p></center>
		<center><a href="/HangMan-"><img src="images/hangMan.gif"></a><center>
		</div>

		<div class = "game5">
		<center><p style = "font-size : 30px";>Muffin Maker</p></center>
		<center><a href="/MuffinMaker-"><img src="images/blueberryMuffin.png"></a><center>
		</div>

		<div class = "game6">
		<center><p style = "font-size : 30px";>Target Practice</p></center>
		<center><a href="/TargetPractice-"><img src="images/target.gif"></a><center>
		</div>

		<div class = "game6">
		<center><p style = "font-size : 30px";>Minesweeper</p></center>
		<center><a href="/Minesweeper-"><img src="images/minesweeper.gif"></a><center>
		</div>

	</div>

	<script src = "main.js";></script>
</body>
</html>