<!DOCTYPE html>
<html>
<head>
	<script src = "JSLibrary/ServerComms.js"></script>
	<%- include('partials/head.ejs') %>
</head>

<body id = "body">

	<%- include('partials/topnav.ejs') %>

	<div class = "container" id = "content">
		
		<%- include('partials/title.ejs') %>

		<div class ="sideBar" id = "sideBar">
			
		</div>

		<div class = "games" id = "games">

		</div>

	</div>

	<script src = "index.js";></script>
</body>
</html>