<!DOCTYPE html>
<html>
<head>
	<script src = "JSLibrary/ServerComms.js"></script>
	<%- include('partials/head.ejs') %>
</head>

<body id = "body">

	<%- include('partials/topnav.ejs') %>

	<div class = "container" id = "content">
		
		<%- include('partials/title.ejs') %>

		<div class ="sideBar" id = "sideBar">
			<center><p style="font-weight: bold;font-size: 25px;"> Games A-Z </p></center>
		</div>

	</div>

	<script src = "main.js";></script>
	<script src = "index.js";></script>
</body>
</html>