<html>
    <head>
        <%- include('partials/head.ejs') %>
    </head>
    <body>
        <%- include('partials/topnav.ejs') %>
        
        <div class="containerGame">
            <div class="title">
                <p>Title</p>
            </div>
    
            <div class="content">
                <button id = "joinLobby">JOIN</button>
                <button id = "createLobby">CREATE</button>
            </div>

            <div class="instructions">
                <p> Instructions :  <br><br>
                    
                </p>
            </div>
            
            <div class="ads">

            </div>

        </div>

        <script src = "/socket.io/socket.io.js"></script>
        <script src = "lobbyBasedGame/lobbyGame.js"></script>
    </body>
<html>