<html>
    <head>
		<%- include('partials/head.ejs') %>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>
    <body>
		<%- include('partials/topnav.ejs') %>
		<%- include('partials/title.ejs') %>
		
        <div class="login">
            <center>
			<h1>Login</h1>
			<form action="/login" method="post">
				<label for="username">
					<!-- font awesome icon -->
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="username" placeholder="Username" id="username" required>
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" required>
				<input type="checkbox" name="keepLoggedIn" id="keepLoggedIn">
				<label for="keepLoggedIn">
					Keep me logged in
				</label>
				<input type="submit" value="Login">
			</form>
            </center>
            <p>Don't have an account? <a href="/register_">Register</a></p>
		</div>
        
    </body>
<html>