<html>
    <head>
        <%- include('partials/head.ejs') %>
        <link rel="stylesheet" href="MemoryGame/memory.css">
    </head>
    <body>

        <%- include('partials/topnav.ejs') %>

        <div class="containerGame">
            <div class="title">
                <p><%=title.substring(0,title.indexOf("|"))%></p>
            </div>
    
            <div class="content">
                <center>
                    <p id = "bestTime">- seconds</p>
                    <p id = "timer">0 seconds</p>
                    <button onclick="Start()">Start</button>
                    <div class = "cardContainer">
                        <div id = "0" class = "card"></div>
                        <div id = "1" class = "card"></div>
                        <div id = "2" class = "card"></div>
                        <div id = "3" class = "card"></div>
                        <div id = "4" class = "card"></div>
                        <div id = "5" class = "card"></div>
                        <div id = "6" class = "card"></div>
                        <div id = "7" class = "card"></div>
                        <div id = "8" class = "card"></div>
                        <div id = "9" class = "card"></div>
                        <div id = "10" class = "card"></div>
                        <div id = "11" class = "card"></div>
                        <div id = "12" class = "card"></div>
                        <div id = "13" class = "card"></div>
                        <div id = "14" class = "card"></div>
                        <div id = "15" class = "card"></div>
                    </div>
                </center>
            </div>

            <div class="instructions">
                <p> Instructions :  <br><br>
                    -When you click start the cards will be revealed for 3 seconds then hidden<br><br>
                    -Then try to match together each pair of colors 
                </p>
            </div>
            
            <div class="ads">

            </div>

        </div>

        <script src = "MemoryGame/memory.js"></script>
    </body>
<html>