<html>
    <head>
        <%- include('partials/head.ejs') %>
    </head>
    <body>
        <%- include('partials/topnav.ejs') %>
        
        <div class="containerGame">

            <div class="title">
                <p><%=title.substring(0,title.indexOf("|"))%></p>
                <p style="font-size: 20px;"> click on the screen to start </p>
                <p id = "HighScore" style="font-size: 20px">High Score : 0</p>
                <p id = "Score" style="font-size: 20px;">Score : 0 :: Level : 1</p>
            </div>
    
            <div class="content">
                <p><button onclick = "Start()" style = "visibility: hidden;">
                    <canvas id = "Gamescreen" style="width: 600px;height: 600px;border:5px solid black; visibility: visible"></canvas>
                </button></p>
            </div>

            <div class="instructions">
                <p> Instructions :  <br><br>
                    -use left and right arrow 
                    keys or a and d to move <br><br>
                    -use w, up arrow, 
                    or space to shoot <br><br>
                    -try to shoot the meteors 
                    and don't get hit by them <br><br>
                    -if you shoot the red 
                    meteors you lose <br><br>
                    -every meteor you destory gives 
                    you 5 points and every time one 
                    hits the ground you lose 1 point 
                </p>
            </div>
            
            <div class="ads">

            </div>

        </div>

        <script src = "MeteorShower/meteor.js"></script>
    </body>
<html>