<html>
    <head>
        <%- include('partials/head.ejs') %>
        <link rel="stylesheet" href="minesweeper/minsweeper.css">
    </head>
    <body>
        <%- include('partials/topnav.ejs') %>
        
        <div class="containerGame">
            <div class="title">
                <p><%=title.substring(0,title.indexOf("|"))%></p>
                <p id = "time" style = "font-size: 20px;">Time : 0 seconds</p>
                <button id = "difficulty" onclick="changeDifficulty()">Easy</button>
                <button onclick="Start()">Start New Game</button>
            </div>
    
            <div class="content">
                <center>
                    <div class = "gridEasy">

                    </div>
                </center>
            </div>

            <div class="instructions">
                <p> Instructions :  <br><br>
                    - Try to reveal every tile without revealing a mine <br><br>
                    - The number on the tile is how many mines are in the adjacent squares <br><br>
                    - Left click to reveal a square <br><br>
                    - Right click to place or remove a flag<br><br>
                    - If a square has a flag you must remove that flag before you reveal the square
                </p>
            </div>
            
            <div class="ads">

            </div>

        </div>

        <script src = "minesweeper/minesweeper.js"></script>
    </body>
<html>