<html>
    <head>
        <%- include('partials/head.ejs') %>
        <link rel="stylesheet" href="IdleGame/idle.css">
    </head>
    <body>
        <%- include('partials/topnav.ejs') %>

        <div class="containerGame">
            <div class="title">
                <p><%=title.substring(0,title.indexOf("|"))%></p>
            </div>
    
            <div class="content" style = "user-select: none;">
                <center>
                    <!--<button class = "button" onclick="Clear()">Clear</button>-->
                    <p id = "muffins">Muffins : 0</p>
                    <p id = "muffinsPerSecond">Muffins/sec : 0</p>
                    <canvas id = "clickScreen" width="300px"; height="250px"></canvas>
                </center>
                <br>

                <div class = "purchases" style = "padding-left:75px; float:left">
                    <center><p>Muffin Production</p></center>
                    <center><button id = "bakers" onclick="BuyBakers()">Bakers : 0 (10 muffins)</button></center>
                    <center><button id = "gourmetChef" onclick="BuyGourmetChefs()">Gourmet Chef : 0 (100 muffins)</button></center>
                    <center><button id = "muffinShop" onclick="BuyMuffinShop()">Muffin Shops : 0 (1,500 muffins)</button></center>
                    <center><button id = "muffinFactory" onclick="BuyMuffinFactory()">Muffin Factories : 0 (20,000 muffins)</button></center>
                    <center><button id = "muffinFarm" onclick="BuyMuffinFarm()">Muffin Farms : 0 (2,000,000 muffins)</button></center>
                    <center><button id = "muffinCity" onclick="BuyMuffinCity()">Muffin Cities : 0 (100,000,000 muffins)</button></center>
                    <center><button id = "muffinMine" onclick="BuyMuffinMine()">Muffin Mines : 0 (2,000,000,000 muffins)</button></center>
                    <center><button id = "muffinEmpire" onclick="BuyMuffinEmpire()">Muffin Empires : 0 (150,000,000,000 muffins)</button></center>
                    <center><button id = "muffinPlanet" onclick="BuyMuffinPlanet()">Muffin Planets : 0 (5,000,000,000,000 muffins)</button></center>
                    <center><button id = "muffinSolarSystem" onclick="BuyMuffinSolarSystem()">Muffin Solar Systems : 0 (1,000,000,000,000,000 muffins)</button></center>
                    <center><button id = "muffinGalaxy" onclick="BuyMuffinGalaxy()">Muffin Galaxies : 0 (1,000,000,000,000,000,000 muffins)</button></center>
                    <center><button id = "muffinUniverse" onclick="BuyMuffinUniverse()">Muffin Universes : 0 (1,000,000,000,000,000,000,000 muffins)</button></center>

                </div>                
                <div class = "purchases" style = "float:right; padding-right: 75px;">
                    <center><p>Upgrades</p></center>
                    <center><button id = "ovens" onclick="BuyOvens()">Ovens : 0 (100 muffins) <br>Increase Muffins per Click</button></center>
                    <center><button id = "betterTraining" onclick="BuyBetterTraining()">Better Training : 0 (1,000 muffins) <br>Increase Muffins made by bakers</button></center>
                    <center><button id = "chocolateChipMuffinRecipe" onclick="BuyChocolateChipMuffinRecipe()">Chocolate Chip Muffin Recipe : (20,000 muffins) <br>Doubles Muffins/sec</button></center>
                    <center><button id = "fiveStarChefs" onclick ="BuyFiveStarChefs()">Five Star Chefs : (100,000 muffins) <br>Increases Muffins made by gourmet chefs</button></center>
                    <center><button id = "betterIngredients" onclick="BuyBetterIngredients()">Better Ingredients : (2,000,000 muffins) <br>Quadruples Muffins/sec</button></center>
                    <center><button id = "managers" onclick ="BuyManagers()">Managers : (500,000 muffins) <br>Increases Muffins made by Factories</button></center>
                    <center><button id = "farmHands" onclick ="BuyFarmHands()">Farm Hands : (1,000,000 muffins) <br>Increases Muffins made by Farms</button></center>
                    <center><button id = "betterTools" onclick ="BuyBetterTools()">Better Tools : (8,000,000,000 muffins) <br>Increases Muffins made by Mines</button></center>
                    <center><button id = "muffinMonopoly" onclick="BuyMuffinMonopoly()">Muffin Monopoly : (10,000,000,000 muffins) <br>10x Muffins/sec</button></center>
                    <center><button id = "powerClick" onclick="BuyPowerClick()">Power Click : 0 (50,000,000,000 muffins) <br>Increase Muffins per Click</button></center>
                    <center><button id = "spaceShip" onclick ="BuySpaceShip()">Space Ship : (1,000,000,000,000 muffins) <br> Allows you to buy things in space</button></center>
                    <center><button id = "multiverse" onclick ="BuyMultiverse()">Multiverse : (2,000,000,000,000,000,000,000 muffins) <br>Allows you to buy more universes</button></center>

                </div>
                
            </div>

            <div class="instructions">
                <p> Instructions :  <br><br>
                    -Click on the muffin to make muffins<br><br>
                    -Buy the muffin production upgrades to passively collect muffins<br><br>
                    -Buy the upgrades to increase the amount of muffins you make
                </p>
            </div>
            
            <div class="ads">

            </div>

        </div>

        <script src = "IdleGame/idle.js"></script>
        <script src = "IdleGame/upgrades.js"></script>
        <script src = "IdleGame/production.js"></script>
    </body>
<html>