<html>
    <head>
        <%- include('partials/head.ejs') %>
        <script src="OnlineUnityTest/Build/UnityLoader.js"></script>
        <script>
            var unityInstance = UnityLoader.instantiate("unityContainer", "OnlineUnityTest/Build/OnlineUnityTest.json");
        </script>
    </head>
    <body>
        <%- include('partials/topnav.ejs') %>

        <div class="containerGame">
            <div class="title">
                <p><%=title.substring(0,title.indexOf("|"))%></p>
            </div>
    
            <div class="content">
                <center><div id="unityContainer" style="width: 600px; height: 600px; border: solid black 2px"></div></center>
            </div>

            <div class="instructions">
                <p> Instructions :  <br><br>
                    
                </p>
            </div>
            
            <div class="ads">

            </div>

        </div>

        <script src = "blank.js"></script>
    </body>
<html>