<html>
    <head>
        <script src="OppositesAttract/Build/UnityLoader.js"></script>
        <script>
            var unityInstance = UnityLoader.instantiate("unityContainer", "OppositesAttract/Build/OppositesAttract.json");
        </script>

        <%- include('partials/head.ejs') %>
    </head>
    <body>
        <%- include('partials/topnav.ejs') %>

        <div class="containerGame">
            <div class="title">
                <p><%=title.substring(0,title.indexOf("|"))%></p>
            </div>
    
            <div class="content">
                <center><div id="unityContainer" style="width: 750px; height: 500px; border: solid black 2px;"></div></center>
            </div>

            <div class="instructions">
                <p> Instructions :  <br><br>
                    Use space bar to flip magnet to either repel or attract<br><br>
                    Press p to pause the game<br><br>
                    Try and last as long as possible without hitting an object and getting off the screen<br><br>
                </p>
            </div>
            
            <div class="ads">

            </div>

        </div>

    </body>
<html>