<!DOCTYPE html>
<html>
<head>
	<%- include('partials/head.ejs') %>
</head>

<body>
	
	<%- include('partials/topnav.ejs') %>
	<%- include('partials/title.ejs') %>

    <center><p style="font-size: 50px;">Patch Notes</p></center>
    
	<div style="padding-left: 20px;">

		<h1 style = "font-size: 30px;"> 01 : 08: 2023</h1>
		<p style = "font-size: 20px;"> User page now has an option to change the theme of the site<br>
			User page also now has options for profile pictures
		</p>

		<h1 style = "font-size: 30px;"> 11 : 27: 2022</h1>
		<p style = "font-size: 20px;"> User page now shows data/highscores
		</p>

		<h1 style = "font-size: 30px;"> 11 : 26 : 2022</h1>
		<p style = "font-size: 20px;"> Added a Downloads Page<br>
			Added first version of Jeopardy to Downloads Page
		</p>

		<h1 style = "font-size: 30px;"> 09 : 14 : 2022</h1>
		<p style = "font-size: 20px;"> Added Mini Golf
		</p>

		<h1 style = "font-size: 30px;"> 08 : 16 : 2022</h1>
		<p style = "font-size: 20px;"> Added Opposites Attract
		</p>

		<h1 style = "font-size: 30px;"> 08 : 13 : 2022</h1>
		<p style = "font-size: 20px;"> Updated Super Jump Man to have ten levels, sound, music, and bug fixes
		</p>

		<h1 style = "font-size: 30px;"> 07 : 25 : 2022</h1>
		<p style = "font-size: 20px;">Changed title design
		</p>

		<h1 style = "font-size: 30px;"> 07 : 18 : 2022</h1>
		<p style = "font-size: 20px;">Added BlackJack<br>
			Accounts now save game data for - BlockStack, Memory, MeteorShower, Serpent, TargetPractice, TowerBuilder, and BlackJack<br>
		</p>

		<h1 style = "font-size: 30px;"> 06 : 17 : 2022</h1>
		<p style = "font-size: 20px;">Added Accounts <br> 
			(very limited use right now, but eventually will save game progress)
		</p>

		<h1 style = "font-size: 30px;"> 06 : 03 : 2022</h1>
		<p style = "font-size: 20px;">Added Open Battle (first online multiplayer game on the site)</p>

		<h1 style = "font-size: 30px;"> 05 : 04 : 2022</h1>
		<p style = "font-size: 20px;">Added levels to Super Jump Man(was Platformer)</p>

		<h1 style = "font-size: 30px;"> 05 : 01 : 2022</h1>
		<p style = "font-size: 20px;">Added Muffin Maker <br>
			Added Target Practice
		</p>

		<h1 style = "font-size: 30px;"> 03 : 28 : 2022</h1>
		<p style = "font-size: 20px;">Zombie Survival now resets back to level 1-1 after beating 4-6 and ups the difficulty<br>
			Added first 5 levels of Platformer(Still need a name)
		</p>

		<h1 style = "font-size: 30px;"> 03 : 21 : 2022</h1>
		<p style = "font-size: 20px;">Added Minesweeper<br>
			Added Memory	
		</p>

		<h1 style = "font-size: 30px;"> 03 : 07 : 2022</h1>
		<p style = "font-size: 20px;">Added Hang Man</p>

		<h1 style = "font-size: 30px;"> 02 : 22 : 2022</h1>
		<p style = "font-size: 20px;">Change on Tower Builder : Now it will be considered a perfect place if you are
			 within 5%	error and will adjust your block so it doesn't get smaller
		</p>

		<h1 style = "font-size: 30px;"> 02 : 08 : 2022</h1>
		<p style = "font-size: 20px;">Fixed exploit on Tower Builder : blocks now spawn on both the left and right side	
		</p>

		<h1 style = "font-size: 30px;"> 02 : 06 : 2022</h1>
		<p style = "font-size: 20px;">Added the game Tower Builder <br>
			Fixed pausing bug on Block Stack <br>
			Added grid lines to the blocks on Block Stack		
		</p>

		<h1 style = "font-size: 30px;"> 01 : 28 : 2022</h1>
		<p style = "font-size: 20px;">Added the game Meteor Shower</p>

		<h1 style = "font-size: 30px;"> 01 : 26 : 2022</h1>
		<p style = "font-size: 20px;">Added Patch Notes</p>
	</div>
	
</body>
</html>