<!DOCTYPE html>
<html>
<head>
	<%- include('partials/head.ejs') %>
	<link rel="stylesheet" href="css/patchnotes.css">
</head>
<body>
	
	<%- include('partials/topnav.ejs') %>
	<%- include('partials/title.ejs') %>
    <center><p style="font-size: 50px;">Patch Notes</p></center>

	<div class = "patch-container">
		
		<!-- <div class = "patch">
			<h1></h1>
			<p></p>			
		</div>	 -->

		<div class = "patch">
			<h1> 02 : 28 : 2024 </h1>
			<p> Added Idle Mining</p>
			<p> This is the first game to use cgfw (CastleGameFrameWork)</p>						
		</div>

		<div class = "patch">
			<h1> 06 : 23 : 2023</h1>
			<p> Chaged how the profiles code works, so users will have to make a new account</p>
			<p> Added many themes and tweaked some old ones</p>
			<p> Added more profile pictures </p>
			<p> More games now save data and now with the profile system change it'll be easier to implement saving with most new games</p>
			<p> Can see all game data on the user page</p>
			<p> List of games that save: 2048, Pong, Memory, Serpent, BlackJack, BlockStack, 
				Minesweeper, SpaceBattle, MeteorShower, TowerBuilder, TargetPractice
			</p>
			<p> Visual Changes throughout the site </p>
		</div>

		<div class = "patch">
			<h1> 05 : 23 : 2023</h1>
			<p> Fixed a problem with the mobile version of MuffinMaker where the screen would zoom in when clicking the muffin too fast</p>
		</div>

		<div class = "patch">
			<h1> 04 : 29 : 2023</h1>
			<p> Added Space Battle</p>
		</div>

		<div class = "patch">
			<h1> 01 : 08 : 2023</h1>
			<p> User page now has an option to change the theme of the site</p>
			<p> User page also now has options for profile pictures</p>
		</div>

		<div class = "patch">
			<h1> 11 : 27 : 2022</h1>
			<p> User page now shows data/highscores</p>
		</div>

		<div class = "patch">
			<h1> 11 : 26 : 2022</h1>
			<p> Added a Downloads Page</p>
			<p>	Added first version of Jeopardy to Downloads Page</p>
		</div>

		<div class = "patch">
			<h1> 09 : 14 : 2022</h1>
			<p> Added Mini Golf</p>
		</div>
		
		<div class = "patch">
			<h1> 08 : 16 : 2022</h1>
			<p> Added Opposites Attract</p>
		</div>

		<div class = "patch">
			<h1> 08 : 13 : 2022</h1>
			<p> Updated Super Jump Man to have ten levels, sound, music, and bug fixes</p>
		</div>

		<div class = "patch">
			<h1> 07 : 25 : 2022</h1>
			<p>Changed title design</p>
		</div>

		<div class = "patch">
			<h1> 07 : 18 : 2022</h1>
			<p> Added BlackJack</p>
			<p>	Accounts now save game data for - BlockStack, Memory, MeteorShower, Serpent, TargetPractice, TowerBuilder, and BlackJack</p>
		</div>

		<div class = "patch">
			<h1> 06 : 17 : 2022</h1>
			<p>Added Accounts (very limited use right now, but eventually will save game progress)</p>
		</div>

		<div class = "patch">
			<h1> 06 : 03 : 2022</h1>
			<p>Added Open Battle (first online multiplayer game on the site)</p>
		</div>

		<div class = "patch">
			<h1> 05 : 04 : 2022</h1>
			<p>Added levels to Super Jump Man(was Platformer)</p>
		</div>
		
		<div class = "patch">
			<h1> 05 : 01 : 2022</h1>
			<p> Added Muffin Maker</p>
			<p> Added Target Practice</p>
		</div>

		<div class = "patch">
			<h1> 03 : 28 : 2022</h1>
			<p> Zombie Survival now resets back to level 1-1 after beating 4-6 and ups the difficulty</p>
			<p>	Added first 5 levels of Platformer(Still need a name)</p>
		</div>

		<div class = "patch">
			<h1> 03 : 21 : 2022</h1>
			<p>Added Minesweeper</p>
			<p>Added Memory</p>
		</div>

		<div class = "patch">
			<h1> 03 : 07 : 2022</h1>
			<p>Added Hang Man</p>
		</div>

		<div class = "patch">
			<h1> 02 : 22 : 2022</h1>
			<p>Change on Tower Builder : Now it will be considered a perfect place if you are within 5%	error and will adjust your block so it doesn't get smaller</p>
		</div>

		<div class = "patch">
			<h1> 02 : 08 : 2022</h1>
			<p>Fixed exploit on Tower Builder : blocks now spawn on both the left and right side</p>
		</div>

		<div class = "patch">
			<h1> 02 : 06 : 2022</h1>
			<p>Added the game Tower Builder </p>
			<p>Fixed pausing bug on Block Stack</p>
			<p>Added grid lines to the blocks on Block Stack</p>		
		</div>

		<div class = "patch">
			<h1> 01 : 28 : 2022</h1>
			<p>Added the game Meteor Shower</p>
		</div>

		<div class = "patch">
			<h1> 01 : 26 : 2022</h1>
			<p>Added Patch Notes</p>
		</div>

	</div>
	
</body>
</html>