<html>
    <head>
        <%- include('partials/head.ejs') %>
    </head>
    <body>
        <%- include('partials/topnav.ejs') %>

        <div class="containerGame">
            <div class="title">
                <p><%=title.substring(0,title.indexOf("|"))%></p>
            </div>
    
            <div class="content">
                <center><p><button id = "Modes" style="font-size: 20px;" onclick="switchModes()">Switch Modes : SinglePlayer</button>
                    <button id = "Difficulty" style="font-size: 20px;" onclick="Difficulty()">Easy</button>
                    <button style="font-size: 20px;" id = "StartButton" onclick="StartButton()">Start</button></p></center>
                <center><p id="Timer"style="font-size: 20px;">Game Starts in : 3</p></center>
                <center><canvas style = "border: solid black 10px;" id="GameScreen" width="700px" height="500px"></canvas></center>
            </div>

            <div class="instructions">
                <p> Instructions :  <br><br>
                    -Left Player use w to move up and s to move down<br><br>
                    -Right Player use k to move up and m to move down
                </p>
            </div>
            
            <div class="ads">

            </div>

        </div>

        <script src="Pong/pong.js"></script>
    </body>
</html>