<html>
    <head>
        <title>Ping Pong|Castle Games</title>
		<link rel="icon" type="image/x-icon" href="/images/WebsiteIcon.png">

        <!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-MTH47KMST2"></script>
		<script>
  			window.dataLayer = window.dataLayer || [];
  			function gtag(){dataLayer.push(arguments);}
  			gtag('js', new Date());

  			gtag('config', 'G-MTH47KMST2');
		</script>

        <!--css-->
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/gamePage.css">	

    </head>
    <body>
        <!--Navigation Bar-->
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/contact">Contact</a>
            <a href="/patchnotes">Patch Notes</a>
        </div>

        <div class="containerGame">
            <div class="title">
                <p>Ping Pong</p>
            </div>
    
            <div class="content">
                <center><p><button id = "Modes" style="font-size: 20px;" onclick="switchModes()">Switch Modes : SinglePlayer</button>
                    <button id = "Difficulty" style="font-size: 20px;" onclick="Difficulty()">Easy</button>
                    <button style="font-size: 20px;" id = "StartButton" onclick="StartButton()">Start</button></p></center>
                <center><p id="Timer"style="font-size: 20px;">Game Starts in : 3</p></center>
                <center><canvas style = "border: solid black 10px;" id="GameScreen" width="700px" height="500px"></canvas></center>
            </div>

            <div class="instructions">
                <p> Instructions :  <br><br>
                    -Left Player use w to move up and s to move down<br><br>
                    -Right Player use k to move up and m to move down
                </p>
            </div>
            
            <div class="ads">

            </div>

        </div>

        <script src="Pong/pong.js"></script>
    </body>
</html>