<!DOCTYPE html>
<html>
  <head>
    <title>Rocket|CastleGames</title>
    <link rel="icon" type="image/x-icon" href="/images/WebsiteIcon.png">

    <script src="Rocket/Build/UnityLoader.js"></script>
    <script>
      var unityInstance = UnityLoader.instantiate("unityContainer", "Rocket/Build/Rocket.json");
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-MTH47KMST2"></script>
		<script>
  			window.dataLayer = window.dataLayer || [];
  			function gtag(){dataLayer.push(arguments);}
  			gtag('js', new Date());

  			gtag('config', 'G-MTH47KMST2');
		</script>

    <!--css-->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/gamePage.css">	
  </head>

  <body>
    <!--Navigation Bar-->
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/contact">Contact</a>
      <a href="/patchnotes">Patch Notes</a>
    </div>

    <div class="containerGame">
      <div class="title">
          <p>Rocket</p>
      </div>

      <div class="content">
        <center><div id="unityContainer" style="width: 600px; height: 700px; border: solid black 2px;"></div></center>
      </div>

      <div class="instructions">
          <p> Instructions :  <br><br>
            -Press on a,d or left and right buttons to move<br><br>
            -Avoid crashing ino things<br><br>
            -Collect fuel so your fuel meter doesn't get to 0 for too long<br><br>
            -Pick up a shields to block crashes<br><br>
            -Prees p to Pause
          </p>
      </div>
      
      <div class="ads">

      </div>

  </div>

  </body>
</html>
