<html>
    <head>
        <%- include('partials/head.ejs') %>
    </head>
    <body>
        <%- include('partials/topnav.ejs') %>

        <div class="containerGame">
            <div class="title">
                <p><%=title.substring(0,title.indexOf("|"))%></p>
                <p id = "GameOver" style="font-size: 20px;">Click On Screen To Start</p>
                <p id="Score"style="font-size: 20px;">HighScore : 0 :: Score : 0</p>
            </div>
    
            <div class="content">
                <center><button style = "visibility: hidden;"id = "StartButton" onclick="Start()">
                    <canvas style = "visibility: visible;border: solid black 10px;"id="GameScreen" width="560px" height="560px"></canvas>
                </button></center>
            </div>

            <div class="instructions">
                <p> Instructions :  <br><br>
                    Use w a s d or arrow keys to change direction and press p to pause
                </p>
                <center><button id = "snakeColor" style = "background-color: limegreen;" onclick="ChangeColor(0)">Change Snake Color - limegreen</button>
                    <button style = "background-color: red;" id = "appleColor" onclick="ChangeColor(1)">Change Aplle Color - red</button></center>
            </div>
            
            <div class="ads">

            </div>

        </div>
    </body>
    <script src="Snake/snake.js"></script>
</html>