<html>
    <head>

        <title>Tower Builder |Castle Games</title>
		<link rel="icon" type="image/x-icon" href="/images/WebsiteIcon.png">

        <!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-MTH47KMST2"></script>
		<script>
  			window.dataLayer = window.dataLayer || [];
  			function gtag(){dataLayer.push(arguments);}
  			gtag('js', new Date());

  			gtag('config', 'G-MTH47KMST2');
		</script>

        <!--css-->
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/gamePage.css">
        	
    </head>
    <body>

        <!--Navigation Bar-->
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/contact">Contact</a>
            <a href="/patchnotes">Patch Notes</a>
        </div>

        <div class="containerGame">
            <div class="title">
                <p>Tower Builder</p>
                <p id = "Score" style = "font-size: 25px">High Score : 0 :::: Score : 0</p>
            </div>
    
            <div class="content">
                <center><canvas id = "GameScreen" style = "width: 600px; height: 600px; border: solid black 5px"></canvas></center>
            </div>

            <div class="instructions">
                <p> Instructions :  <br><br>
                    -Try to stop the block on top of the previous block  <br><br>
                    -Press space to stop the block  <br><br>
                    -Blocks can spawn on the left or the right side <br><br>
                    -Press space to start
                </p>
            </div>
            
            <div class="ads">

            </div>

        </div>

        <script src = "Tower/tower.js"></script>
    </body>
<html>