<html>
    <head>
        <%- include('partials/head.ejs') %>
    </head>
    <body>
        <%- include('partials/topnav.ejs') %>

        <div class="containerGame">
            <div class="title">
                <p>User : <%=username%></p>
            </div>
    
            <div class="content">
                <center><a href = "/logout">logout</a></center>
            </div>

        </div>
    </body>
<html>