<html>
    <head>
        <%- include('partials/head.ejs') %>
    </head>
    <body>
        <%- include('partials/topnav.ejs') %>
        <%- include('partials/title.ejs') %>

        <div class="containerGame">
            <div class="title">
                <p>User : <%=username%></p>
            </div>
    
            <div class="content">
                <p>Game Data</p>
                <div class = "display">
                  
                </div>
                <center><a href = "/logout">logout</a></center>
            </div>

        </div>

        <script src="JSLibrary/ServerComms.js"></script>
        <script src="User/user.js"></script>
    </body>
<html>