<html>
    <head>
        <%- include('partials/head.ejs') %>
        <link rel="stylesheet" href="css/user.css">
    </head>
    <body>
        <%- include('partials/topnav.ejs') %>
        <%- include('partials/title.ejs') %>

        <div class="container">
            <div class="item">
                <p>User : <%=username%></p>
                <center><a href = "/logout">logout</a></center>
            </div>
    
            <div class="item">
                <p>Game Data</p>
                <div class = "display">
                  
                </div>
            </div>

            <div class="item">
                <p>Theme</p>
                <center><button onclick = "updateTheme('main')" id = "main">Main</button></center>
                <center><button onclick = "updateTheme('blue')" id = "blue">Blue</button></center>
                <center><button onclick = "updateTheme('red')" id = "red">Red</button></center>
            </div>

            <div class="item">
                <p>Profile Picture</p>
                <div class = "profilePictures">
                    <center><button class = "profilePictureOption" onclick = "updateProfilePicture('default')" id = "default"><img src = "/images/defualt.png"></button></center>
                    <center><button class = "profilePictureOption" onclick = "updateProfilePicture('castle')" id = "castle">Castle</button></center>
                    <center><button class = "profilePictureOption" onclick = "updateProfilePicture('blueCastle')" id = "blueCastle">Blue Castle</button></center>
                    <center><button class = "profilePictureOption" onclick = "updateProfilePicture('muffin')" id = "muffin">Muffin</button></center>
                </div>
            </div>

        </div>

        <script src="JSLibrary/ServerComms.js"></script>
        <script src="user/gameData.js"></script>
    </body>
<html>