<html>
    <head>
        <%- include('partials/head.ejs') %>
        <link rel="stylesheet" href="css/user.css">
    </head>
    <body>
        <%- include('partials/topnav.ejs') %>
        <%- include('partials/title.ejs') %>

        <div class="container">
            <div class="item">
                <p>User : <%=username%></p>
                <p>Theme</p>
                <center><button onclick = "themeButton('blue')" id = "blue">Blue</button></center>
                <center><button onclick = "themeButton('purple')" id = "purple">Purple</button></center>
                <!-- <center><button onclick = "themeButton('green')" id = "green">Green</button></center> -->
                <center><button onclick = "themeButton('brown')" id = "brown">Brown</button></center>
                <br>
                <br>
                <br>
                <br>
                <center><a href = "/logout">logout</a></center>
            </div>
    
            <div class="item">
                <p>Game Data</p>
                <div class = "display">
                  
                </div>
            </div>

        </div>

        <script src="JSLibrary/ServerComms.js"></script>
        <script src="user/gameData.js"></script>
    </body>
<html>