<html>
    <head>
        <%- include('partials/head.ejs') %>
        <link rel="stylesheet" href="css/user.css">
    </head>
    <body>
        <%- include('partials/topnav.ejs') %>
        <%- include('partials/title.ejs') %>

        <div class="container">
            <div class="title">
                <p>User : <%=username%></p>
            </div>
    
            <div class="gamedata">
                <p>Game Data</p>
                <div class = "display">
                  
                </div>
            </div>

            <center><a href = "/logout">logout</a></center>

        </div>

        <script src="JSLibrary/ServerComms.js"></script>
        <script src="user/user.js"></script>
    </body>
<html>