.download{
    border: .5em solid var(--border-color);
    border-radius: 2em;
    padding: 3em;
    background-color: var(--background-secondary);

    text-align: center;
    margin: auto;
    width: max-content;
}

.download a{
    color: var(--background-game);
}

.download a:visited{
    color: var(--background-game);
}