:root{
    --background-main:  lightseagreen;
    --background-secondary: rgb(21, 21, 201);
    --border-color: rgb(0, 1, 71);
    --text-color: black;
}

a:link {
    color: rgb(2, 167, 158);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:visited {
    color: rgb(137, 0, 172);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
body { 
    background-color: var(--background-main);
    margin: 0;
}


.topnav {
    background-color: var(--background-secondary);
    border: 8px solid var(--border-color);
    overflow: hidden;
}
.topnav a {
    float: left;
    color: var(--text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
.topnav a:hover {
    background-color: var(--background-main);
}

.container{
    width: 100vw;
    height: 100vh;

    display: grid;

    grid-template-columns: 1fr repeat(3, 2fr);
    grid-template-rows: 1fr repeat(8, 1fr);

    size: fixed;
}

.sideBar{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: span 100;

    border: 8px solid var(--border-color);
    background-color: var(--background-secondary);
}

@keyframes Title {
    0%{color: coral;text-shadow: 5px 5px 10px coral;}
    25%{color: red;text-shadow: 5px 5px 10px red;}
    50%{color: violet;text-shadow: 5px 5px 10px violet;}
    75%{color: lightgreen;text-shadow: 5px 5px 10px lightgreen;}
    100%{color: coral;text-shadow: 5px 5px 10px coral;}
}

.header{
    grid-column-start: 2;
    grid-column-end: 5;

    font-size: 50px;
    font-weight: bold;
    font-family: cursive;

    border: 8px solid var(--border-color);
    background-color: var(--background-secondary);

    animation-name: Title;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

img{
    width: max-content;
    height: max-content;
}

.game{
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
    border: 8px solid var(--border-color);
}

.game:hover{
    transform: scale(1.04);
}