.container{
    width: 100%;
    height: 100%;
    background-color: var(--background-main);
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.item{
    border: 8px solid var(--border-color);
    border-radius: 5em;
    margin: 2em;
}

.profilePictures{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.profilePictureOption{
    width: 6em;
    height: 6em;
    border-radius: 5em;
    border: 3px solid var(--border-color);
    margin: 1em;
    background-color: var(--background-game);
}

.profilePictureOption:hover{
    opacity: .5;
}

.profilePictureOption img{
    width: 75%;
    height: 75%;
}

.themes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.themeOption{
    width: 6em;
    height: 6em;
    border-radius: 5em;
    border: 3px solid var(--border-color);
    margin: 1em;
    background-color: var(--background-game);
}

.themeOption:hover{
    opacity: .5;
}



